<!-- area contendo as janelas -->
<div #container [ngClass]="'limite-area'">

    <button (click)="moveItem()">teste</button>


    @for (item of caixas; track $index) {
        <div [ngClass]="item.type" cdkDrag [cdkDragFreeDragPosition]="item.dragPosition" [cdkDragBoundary]="container">

            <!-- barra superior da janela -->
            <div [ngClass]="'top-frame'">

                <div [ngClass]="'botoes-esquerdo'">
                    <img [ngClass]="'botao'" src="black_box.svg" alt="caixa preta">
                </div>

                <div [ngClass]="'botoes-direito'">
                    <img [ngClass]="'botao'" src="underline_button.svg" alt="botao sublinhado">
                    <img [ngClass]="'botao'" src="square_button.svg" alt="botao quadrado">
                    <img [ngClass]="'botao'" src="x_button.svg" alt="botao x">
                </div>

            </div>

            @if (item.temImagem) {
                <img [ngClass]="'foto-perfil'" src="pedro_foto.jpg" alt="foto de perfil">
            }
        </div>
    }


</div>

