@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html, body {
  background-color: #FFDE84;
}

// fontes
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Space Mono", monospace;
}


// containers
.body {
  background-color: #FFDE84;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black;
  border-top-width: 4px;
  padding: 0 13px;
  margin: 37px 126px 0px 118px;
  height: 60px;
}

.nome{
  order: 1;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black;
  border-top-width: 0px;
  padding: 0 13px;
  margin: 0px 115px 0px 126px;
  height: 635px;
}

.botoes-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: -8px 118px 0px 126px;
  height: 60px;
}

.triangulo-container{
  display: flex;
  margin-left: 118px;
}



//classes
.pedro {
  margin-top: 0px;
  margin-bottom: -19px;
  font-size: 24px;
  letter-spacing: -2px;
}

.gama{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  letter-spacing: -2px;
}

.titulo {
  order: 2;
  font-size: 31px;
  flex-shrink: 1;
}

//botoes
.contato {
  order: 3;
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.contato:hover {
  text-decoration: underline;
}



.sobre-mim-botao {
  border: solid black;
  border-top-width: 4px;
  flex-grow: 1;
  background-color: transparent;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  padding: 0px;
  height: 60px;
  margin-right: -1px;
}
.sobre-mim-botao:hover {
  text-decoration: underline;
}
.sobre-mim-botao:focus {
  text-decoration: underline;
  border-bottom-width: 0px;
  border-top-width: 2px;
  .triangulo-direito {
    opacity: 0%;
  }
}

.projetos-botao {
  border: solid black;
  border-top-width: 4px;
  flex-grow: 1;
  background-color: transparent;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  padding: 0px;
  height: 60px;
  margin-right: -1px;
}
.projetos-botao:hover {
  text-decoration: underline;
}
.projetos-botao:focus {
  text-decoration: underline;
  border-bottom-width: 0px;
  border-top-width: 2px;
  .triangulo-direito {
    opacity: 0%;
  }
}

.experiencia-botao {
  border: solid black;
  border-top-width: 4px;
  flex-grow: 1;
  background-color: transparent;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  padding: 0px;
  height: 60px;
  margin-right: -1px;
}
.experiencia-botao:hover {
  text-decoration: underline;
}
.experiencia-botao:focus {
  text-decoration: underline;
  border-bottom-width: 0px;
  border-top-width: 2px;  
  .triangulo-direito {
    opacity: 0%;
  }
}

//formas
.triangulo-esquerdo {
  width: 8px;
  aspect-ratio: 1;
  clip-path: polygon(0 0,100% 0,100% 100%);
  background-color: black;
  order: 1;
}

.triangulo-direito {
  margin-top: -16px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent #000 transparent transparent;
  transform: rotate(0deg);
  margin-left: 414px;
}