// fontes
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

// classes
.body {
  background-color: #FFDE84;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black;
  border-top-width: 4px;
  padding: 0 13px;
  margin: 37px 126px 0px 118px;
  height: 60px;
}

.nome{
  order: 1;
  display: flex;
  flex-direction: column;
}

.pedro {
  margin-top: 0px;
  margin-bottom: -19px;
  font-size: 24px;
  letter-spacing: -2px;
}

.gama{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  letter-spacing: -2px;
}

.titulo {
  order: 2;
  font-size: 31px;
}

.contato {
  order: 3;
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.contato:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black;
  border-top-width: 0px;
  padding: 0 13px;
  margin: 0px 121px 0px 122px;
  height: 635px;
}

.botoes-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 122px 0px 122px;
  height: 60px;
}


.sobre-mim-botao {
  border: solid black;
  flex-grow: 1;
  background-color: transparent;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  padding: 0px;
  height: 60px;
  margin-right: -1px;
}
.sobre-mim-botao:hover {
  text-decoration: underline;
}
.sobre-mim-botao:focus {
  text-decoration: underline;
  border-bottom-width: 0px;
}

.projetos-botao {
  border: solid black;
  flex-grow: 1;
  background-color: transparent;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  padding: 0px;
  height: 60px;
  margin-right: -1px;
}
.projetos-botao:hover {
  text-decoration: underline;
}
.projetos-botao:focus {
  text-decoration: underline;
  border-bottom-width: 0px;
}

.experiencia-botao {
  border: solid black;
  flex-grow: 1;
  background-color: transparent;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  padding: 0px;
  height: 60px;
  margin-right: -1px;
}
.experiencia-botao:hover {
  text-decoration: underline;
}
.experiencia-botao:focus {
  text-decoration: underline;
  border-bottom-width: 0px;
}