<div [ngClass]="'navbar'">

  <div [ngClass]="'nome'">
    <h3 [ngClass]="'pedro'">Pedro</h3>
    <h3 [ngClass]="'gama'">Gama</h3>
  </div>
  
  <h2 [ngClass]="'titulo'">&lt;Desenvolvedor&gt;</h2>
  <button [ngClass]="'contato'">Contato</button>
</div>

<div [ngClass]="'triangulo-container'">
  <div [ngClass]="'triangulo-esquerdo'"></div>
  <div [ngClass]="'triangulo-direito'"></div>
</div>

<div [ngClass]="'botoes-container'">

  @for (item of botoes; track $index) {
    <button [ngClass]="item.type" (click)="handleButtonClick(item)"> 
      <div class="triangulo-direito-botao"></div>
      {{ item.label }}
    </button>
  }

</div>

<div [ngClass]="'content'">

  @if (botoes[0].isActive) {
    <app-sobre-mim />
  }

  @if (botoes[1].isActive) {
    <app-projetos />
  }
  @if (botoes[2].isActive) {
    <app-experiencia />
  }

</div>

<router-outlet />