@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
	--cor-texto-borda: #003049;
	--cor-principal: #fcbf49;
	--cor-secundaria: #eae2b7;
}

html, body {
  	background-color: var(--cor-principal)
}

* {
	color: #2C3E50;
  	font-family: "Space Mono", monospace;
}
